[Unit]
Description=Sync %i mail using mbsync
RefuseManualStart=no
RefuseManualStop=no
After=network-online.target
TimeoutStartSec=15min

[Service]
Type=oneshot
ExecStart=/usr/bin/mbsync -q %i
