[Unit]
Description=Check mail for %i every fifteen minutes
RefuseManualStart=no
RefuseManualStop=no

[Timer]
Persistent=false
OnBootSec=5min
OnUnitActiveSec=15min
Unit=checkmail@%i.service

[Install]
WantedBy=default.target
